* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #373a3c;
    background-color: #eee
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}

#container {
    width: 100%;
    text-align: center
}

#form {
    padding: 2rem
}

#mosaicOutput {
    padding: 2rem;
}

#mosaicOutput canvas {
    padding: 1rem;
    background-color: #fff
}

.file {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    cursor: pointer
}

.file input {
    min-width: 14rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font: inherit;
    color: inherit;
    line-height: normal
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 2.5;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: .25rem;
    text-align: left
}

.file-custom::after {
    content: "Choose image..."
}

.file-custom::before {
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 2.5;
    color: #555;
    content: "Browse";
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 0 .25rem .25rem 0
}